hr#alert
h2.typo-h2 四、Alert
.typo-p
  |支持 3 种样式，默认添加&nbsp;
  code .alert
  |&nbsp;即可。绿色和红色的分别为
  code .alert-ok
  |&nbsp;和&nbsp;
  code .alert-error
  |。可以添加&nbsp;
  code .close(data-dismiss="alert")
  |&nbsp;来关闭这个提示。

pre.typo-p
  |&lt;div class="
  b.highlight alert
  |"&gt;
  |  &lt;i class="icon-info"&gt;&lt;/i&gt; 戲分漸樹不認許了際筆願前一風遠公師再實調致興家事在的
  |  &lt;a&nbsp;class="close"&nbsp;
  b.highlight data-dismiss="alert"
  |&gt;×&lt;/a&gt;
  |&lt;/div&gt;

.alert
  i.icon-info &nbsp;
  |戲分漸樹不認許了際筆願前一風遠公師再實調致興家事在的
  a.close(data-dismiss="alert") &times;

.alert.alert-ok
  i.icon-cancel-circle &nbsp;
  |戲分漸樹不認許了際筆願前一風遠公師再實調致興家事在的

.alert.alert-error
  h3.alert-header
    i.icon-checkmark-circle &nbsp;
    | 如果这是一个标题
  |戲分漸樹不認許了際筆願前一風遠公師再實調致興家事在的