hr#box
h2.typo-h2 十、Box

.typo-p
  code .box
  |&nbsp;的宽度可以自定义。比如&nbsp;
  code class="box grid grid-6"
  |。

.box.sep
  .box-title 标题 Heading
  .box-body
    .typo-p 戲分漸樹不認許了際筆願前一風遠公師再實調致興家事在的。戲分漸樹不認許了際筆願前一風遠公師再實調致興家事在的。戲分漸樹不認許了際筆願前一風遠公師再實調致興家事在的。
    form
      .label
        input.input(type="text", placeholder="Normal...")
        input.input.button(type="submit", value="提交")
      .label
        label
          input(type="checkbox")
          |Hello
        label
          input(type="checkbox", checked)
          |World
pre
  |&lt;div class="
  b.highlight box
  |"&gt;
  |    &lt;div class="
  b.highlight box-title
  |"&gt;标题 Heading&lt;/div&gt;
  |    &lt;div class="
  b.highlight box-body
  |"&gt;
  |      &lt;div class="typo-p"&gt;戲分漸樹不認許了際筆願前一風遠公師再實調致興家事在的。戲分漸樹不認許了際筆願前一風遠公師再實調致興家事在的。戲分漸樹不認許了際筆願前一風遠公師再實調致興家事在的。&lt;/div&gt;
  |      &lt;form&gt;
  |        &lt;div class="label"&gt;
  |          &lt;input type="text" class="input" placeholder="Normal..."&gt;
  |          &lt;input type="submit"class="input button" value="提交"&gt;
  |        &lt;/div&gt;
  |        &lt;div class="label"&gt;
  |          &lt;label&gt;&lt;input type="checkbox"&gt;Hello&lt;/label&gt;
  |          &lt;label&gt;&lt;input type="checkbox" checked=""&gt;World&lt;/label&gt;
  |        &lt;/div&gt;
  |      &lt;/form&gt;
  |    &lt;/div&gt;
  |&lt;/div&gt;