hr#media
.typo
  h2 八、Media

  .typo-p Media 是一个灵活的列表。

#medias
  .media
    a.media-cap(href="#")
        img(src="http://img4.baixing.net/cd0cee9ad42c5170384f5049ddb17a0a.jpg_sq")
    .media-body
      .media-body-title
        strong 出售进口雷克萨斯GS430一键启动最高配置或置换
        small.pull-right 5月21日13:14 查看 31109 次
      p.typo-small 青浦 - 徐泾 - 沪青平公路1920号
      p.typo-small
        span.highlight 21.8万元
        |&nbsp;/ 2006年 / 9.3万公里
  .media
    a.media-cap(href="#")
      img(src="http://img4.baixing.net/cd0cee9ad42c5170384f5049ddb17a0a.jpg_sq")
    .media-body
      .media-body-title
        strong 出售进口雷克萨斯GS430一键启动最高配置或置换
        small.pull-right 5月21日13:14 查看 31109 次
      p.typo-small 青浦 - 徐泾 - 沪青平公路1920号
      p.typo-small
        span.highlight 21.8万元
        |&nbsp;/ 2006年 / 9.3万公里
  .media
    a.media-cap(href="#")
      img(src="http://img4.baixing.net/cd0cee9ad42c5170384f5049ddb17a0a.jpg_sq")
    .media-body
      .media-body-title
        strong 出售进口雷克萨斯GS430一键启动最高配置或置换
        small.pull-right 5月21日13:14 查看 31109 次
      p.typo-small 青浦 - 徐泾 - 沪青平公路1920号
      p.typo-small
        span.highlight 21.8万元
        |&nbsp;/ 2006年 / 9.3万公里

