hr#modal
h2.typo-h2 五、Modal

.typo-p
  |Modal 的使用可以点击这个&nbsp;
  a(href='#myModal', data-toggle='modal') Modal Demo
  |&nbsp; 试试。使用的时候，只要在一个触发点（如一个链接）指定一下&nbsp;
  code data-toggle="modal"
  |&nbsp;来指定这个触发点触发的是 Modal，用
  code href="#TARGET_ID"
  |&nbsp;或&nbsp;
  code data-target="#TARGET_ID"
  |&nbsp;来指定这个 modal 指定的显示框。

.modal.sep(style="position:relative;z-index:1;")
  h4.modal-title 本操作需要您先注册百姓网
  a.close(href='###', data-dismiss='modal') ×
  .modal-content
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
    | nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    | fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    | culpa qui officia deserunt mollit anim id est laborum.

pre
  |&lt;a href="
  b.highlight #myModal
  |"&nbsp;
  b.highlight data-toggle="modal"
  |&gt;Modal Demo&lt;/a&gt;
  |&nbsp;
  |&lt;div id="
  b.highlight myModal
  |" class="modal fade hide in"&gt;
  |  &lt;h4 class="modal-title"&gt;本操作需要您先注册百姓网&lt;/h4&gt;
  |  &lt;a href="###" data-dismiss="modal" class="close"&gt;×&lt;/a&gt;
  |  &lt;div class="modal-content"&gt;
  |    Lorem ipsum dolor sit amet,
  |  &lt;/div&gt;
  |&lt;/div&gt;

block extra
  //- 这个放在 body 内
  #myModal.modal.fade
    h4.modal-title 本操作需要您先注册百姓网
    a.close(href='###', data-dismiss='modal') ×
    .modal-content
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      | nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      | fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      | culpa qui officia deserunt mollit anim id est laborum.