hr#note
h2.typo-h2 十一、Note

h3.note.sep
  i.note-cap.icon-clock
  |类目名称&nbsp;
  small (1234)

pre
  |&lt;h3 class="
  b.highlight note
  |"&gt;
  |   &lt;i class="
  b.highlight note-cap icon-clock
  |"&gt;&lt;/i&gt;
  |   类目名称&nbsp;
  |   &lt;small&gt;(1234)&lt;/small&gt;
  |&lt;/h3&gt;