hr#pager
h2.typo-h2 九、Page Navigator

.typo-p

.pagenav.clearfix
  a.pagenav-cell(href='#') 上一页
  span.pagenav-cell.pagenav-cell-ellipsis …
  span.pagenav-cell.pagenav-cell-current 1
  a.pagenav-cell(href='#') 2
  a.pagenav-cell(href='#') 3
  a.pagenav-cell(href='#') 4
  a.pagenav-cell(href='#') 5
  a.pagenav-cell(href='#') 6
  a.pagenav-cell(href='#') 7
  a.pagenav-cell(href='#') 8
  a.pagenav-cell(href='#') 9
  a.pagenav-cell(href='#') 10
  a.pagenav-cell(href='#') 11
  span.pagenav-cell.pagenav-cell-ellipsis …
  a.pagenav-cell.pagenav-cell-next(href='#') 下一页

.pagenav.clearfix
  a.pagenav-cell(href='#') 上一页
  a.pagenav-cell.pagenav-cell-next(href='#') 下一页
  small (2/4)