body{border-top:5px solid #666;}
code{background:#f7f7f7;border:1px solid #ddd;padding:0 5px;border-radius:3px;}
pre{white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */}

#header{margin:40px 10px 30px;height:69px;}
#header .last{text-align:right;}

.navi{line-height:69px;}
.navi a{background:#08c;color:#fff;padding:1px 3px;border-radius:3px;}
.navi a:hover{background:#09f;text-decoration:none;}
.navi .nav-orange{background:#f60;}
.navi .current, .nav .current:hover{background:#333;}

.document-table td, 
.document-table th{padding:5px 10px;}
.document-table th{background:#f7f7f7;}
.document-table a:hover, 
.document-table a:visited{text-decoration:none;color:#09f;}
.document-table .document-table-ps{padding:15px 0 0;}

.document-cell{margin-bottom:30px;}
.document-cell-box{margin-bottom:15px;}

#plugin-table{width:980px;margin:0 10px 20px;color:#888;}
#plugin-table td, #plugin-table th{padding-left:0;padding-right:20px;}
#plugin-table th{width:25%;background:none;vertical-align:text-bottom;}
.index #plugin-table{margin:0;}

#logo{font:36px/1 Impact;}
#tagline{color:#999;}
#footer{margin:30px 10px 30px;padding-top:20px;border-top:1px solid #ddd;clear:both;}

.grid{margin-bottom:10px;}
.grid .grid{margin-bottom:0;}
.grid-20{background:#fff;}

/*.icon{background-color:#f7f7f7;}
.in, .open{background:#ffc;}*/
.javascript .typo-h3, .getting-start .typo h3{color:#08c;}

.typo #tab{margin-left:0;padding-left:0;}
.typo #tab li{list-style:none;float:left;display:inline-block;margin-right:1px;background:#08c;padding:1px 5px;}
.typo #tab li.active{background:#080;}
.typo #tab li a{color:#fff;}
.typo .dropdown-menu{margin-left:0;}

.typeahead, .popover{border:1px solid #ddd;padding:10px;background:#ffc;}
.dropdown{margin-right: 30px;display:inline-block;}
.topbar .dropdown{margin-right:auto;}
#mydropdown1{background:#eee;}

.tips{top:40px;}
.tips-right{left:150px;}
.tips-bottom{top:80px;}
.tips-left{top:165px;}

.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}