body{border-top:5px solid #666;}
code{background:#f7f7f7;border:1px solid #ddd;padding:0 5px;border-radius:3px;}

#header{margin:40px 10px 30px;height:69px;}
#header .last{text-align:right;}

.nav{line-height:69px;}
.nav a{background:#08c;color:#fff;padding:1px 3px;border-radius:3px;}
.nav a:hover{background:#09f;text-decoration:none;}
.nav .nav-orange{background:#f60;}
.nav .current, .nav .current:hover{background:#333;}

.table td, .table th{padding:5px 10px;}
.table th{background:#f7f7f7;}
.table a:hover, .table a:visited{text-decoration:none;color:#09f;}
.table .table-ps{padding:15px 0 0;}

.document-cell{margin-bottom:30px;}
.document-cell-box{margin-bottom:15px;}

#plugin-table{width:980px;margin:0 10px 20px;color:#888;}
#plugin-table td, #plugin-table th{padding-left:0;padding-right:20px;}
#plugin-table th{width:25%;background:none;vertical-align:text-bottom;}

#logo{font:36px/1 Impact;}
#tagline{color:#999;}
#footer{margin:30px 10px 30px;padding-top:20px;border-top:1px solid #ddd;clear:both;}

.grid{margin-bottom:10px;}
.grid .grid{margin-bottom:0;}
.grid-20{background:#fff;}

/*.icon{background-color:#f7f7f7;}
.in, .open{background:#ffc;}*/
.javascript .typo-h3{color:#08c;}

.typo #tab{margin-left:0;padding-left:0;}
.typo #tab li{list-style:none;float:left;display:inline-block;margin-right:1px;background:#08c;padding:1px 5px;}
.typo #tab li.active{background:#080;}
.typo #tab li a{color:#fff;}

.typeahead, .popover{border:1px solid #ddd;padding:10px;background:#ffc;}
.dropdown{margin-right: 30px;display:inline-block;}
.topbar .dropdown{margin-right:auto;}
#mydropdown1{background:#eee;}

.tips{top:40px;}
.tips-right{left:150px;}
.tips-bottom{top:80px;}
.tips-left{top:165px;}
