#header{margin:50px 10px 30px;}
#logo{font:36px/1 Impact;}
#tagline{color:#999;}
#footer{margin:30px 0 30px;padding-top:20px;border-top:1px solid #ddd;clear:both;}

.grid{margin-bottom:10px;}
.grid .grid{margin-bottom:0;}
.grid-20{background:#fff;}

