hr#dropdown
h2.typo-h2 二、下拉菜单

#mydropdown.dropdown
  a.dropdown-trigger(href='#mydropdown', data-toggle='dropdown') 下拉菜单
  ul.dropdown-menu
    li
      a(href="#") item-1
    li
      a(href="#") item-2
    li
      a(href="#") item-3