h2.typo-h2 一、Tooltips

.typo-p
  |默认的 HTML Title 显示太慢了，而且不是很好看，如果 Tooltips 成为一个重要的提示路径，那么这个组件可以更好地解决这个问题。用&nbsp;
  code data-toggle="tooltip"
  |，可能通过&nbsp;
  code data-toggle="tooltip"
  |&nbsp;来指定 Tooltips 相对于当前元素的位置。

style
  #flatul{background:#fff;border:1px solid #f2f1ec;padding:15px 0;text-align:center;}
  #flatul li{display:inline;margin:25px;}

ul#flatul.sep
  li
    a(data-placement='top', data-toggle='tooltip', href='#', title='Tooltip on top') Tooltip on top
  li
    a(data-placement='right', data-toggle='tooltip', href='#', title='Tooltip on right') Tooltip on right
  li
    a(title='Tooltip on bottom', data-placement='bottom', data-toggle='tooltip', href='#') Tooltip on bottom
  li
    a(title='Tooltip on left', data-placement='left', data-toggle='tooltip', href='#') Tooltip on left

pre
  |&lt;a title="Tooltip on top" href="#"&nbsp;
  b data-toggle="
  b.highlight tooltip
  |"&nbsp;
  b data-placement="
  b.highlight top
  |"&gt;
  |   Tooltip on top
  |&lt;/a&gt;

script
  window.onload = function() {
    $('[data-toggle=tooltip]').tooltip()
  }


