<div class="container">
	<div class="grid">
		<h1><a href="/">Puerh</a></h1>

		<p class="sep">Puerh，百姓网 UI 库。旨在建立稳定、简洁、兼容的前端框架。兼容 Mac/Windows
		下的 IE6+ / Firefox / Google Chrome 浏览器。 Puerh
		的目标是构建一套适合百姓网的前端解决方案。从模块区分上，她包含：
		<a href="/typography">Typography</a>、<a href="/grid">Grid</a>、<a href=
		"/font">Font Icon</a>、<a href="/ui">UI
		组件</a>&nbsp;和&nbsp;<a href="/js">JS 组件</a></p>

		<p>第一次使用 Puerh？请看&nbsp;<a href="/start">Getting Start
		→</a>&nbsp;如在使用上遇到任何问题，请通过 Github Issues 给我们&nbsp;<a href=
		"https://github.com/baixing/Puerh/issues">提意见 →</a></p>
	</div>
</div>