/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
	color: #333;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, group, menu, nav, section {
	margin: 0;
	padding: 0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
	font: 14px/1.5 'Arial', sans-serif;
}

input, select, textarea {
	vertical-align:middle;
	color:#666;
}
button, input {*overflow: visible;line-height: normal;}
button::-moz-focus-inner,input::-moz-focus-inner {padding:0;border:0;}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
	text-align: inherit;
}

/* 去除默认边框 */
fieldset, img {
	border: 0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
	display: block;
}

/* 块/段落引用 */
blockquote {
	margin: 1em 4em 1em 2em;
	padding: 0.6em 1em;
	background: #f1f1f1;
}
blockquote blockquote {
	padding: 0 0 0 1em;
	margin-left: 2em;
	border-left: 0.4em solid #ddd;
}

/* Firefox 以外，元素没有下划线，需添加 */
acronym, abbr {
	border-bottom: 1px dotted;
	font-variant: normal;
}

/* 添加鼠标问号，进一步确保应用的语义是正确的 */
abbr {
	cursor: help;
}

/* 一致的 del 样式 */
del {
	text-decoration: line-through;
}

address, caption, cite, code, den, em, th, var {
	font-style: normal;
	font-weight: 500;
}

/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
ul, ol {
	list-style: none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
	text-align: left;
}

/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
h1, h2, h3, h4, h5, h6 {
	font:500 100%/1 Arial, sans-serif;
	font-weight:700\9; /* todo: make some font-family detection */
}

q:before, q:after {
	content: '';
}

/* 统一上标和下标 */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

a{color:#06c;}

/* 让链接在 hover 状态下显示下划线 */
a:hover {
	color:#f50;
	text-decoration: underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins, a {
	text-decoration: none;
}

pre, code {
	font-family: 'Courier New', serif;
}
pre {
	border: 1px solid #ddd;
	border-left-width: 0.4em;
	background: #fbfbfb;
	padding: 10px;
}
code{
	color:#080;
}

/* 底部印刷体、版本等标记 */
small {
	font-size: 12px;
	color: #888;
}

/* 去虚线框 */
:focus{outline:none;}

/* 清理浮动 */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both
}

.clearfix {
	*zoom: 1
}

/* 让内容以 border-box 显示 */
.border-box{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* hidden属性 */
[hidden] { display: none; }
.\-attr-hidden { display: none; }


/*
@ 引用: http://aliceui.com/force-wrap/
@ 名称: 强制换行
@ 用法:
	* 一般块级元素用：.textwrap
	* table标签中需添加：.textwrap-table
@ 例子:
	<p class="textwrap">…</p>
	<table class="textwrap textwrap-table"></table>
*/

.textwrap, .textwrap td, .textwrap th{word-wrap:break-word;word-break:break-all;}
.textwrap-table{table-layout:fixed;}



/*
Variable Grid System.
Learn more ~ http://www.spry-soft.com/grids/
Based on 960 Grid System - http://960.gs/
Licensed under GPL and MIT.
*/

body{ min-width:1000px}

/* layout container for the grid */
.container{margin-left:auto;margin-right:auto;width:1000px;zoom:1;}

/* grid system */
.grid{display:inline;float:left;margin-left:10px;margin-right:10px}
.grid-1{width:30px}
.grid-2{width:80px}
.grid-3{width:130px}
.grid-4{width:180px}
.grid-5{width:230px}
.grid-6{width:280px}
.grid-7{width:330px}
.grid-8{width:380px}
.grid-9{width:430px}
.grid-10{width:480px}
.grid-11{width:530px}
.grid-12{width:580px}
.grid-13{width:630px}
.grid-14{width:680px}
.grid-15{width:730px}
.grid-16{width:780px}
.grid-17{width:830px}
.grid-18{width:880px}
.grid-19{width:930px}
.grid-20{width:980px;}

/* clear extra spaces */
.first{margin-left:0}
.last{margin-right:0}

/* 现代排版：保证块/段落之间的空白隔行 */
.typo p, .typo pre, .typo ul, .typo ol, .typo dl, .typo form, .typo hr, .typo table,
.typo-p, .typo-pre, .typo-ul, .typo-ol, .typo-dl, .typo-form, .typo-hr, .typo-table {
	margin: 0.6em 0 1em;
}

/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
.typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6, .typo-h1, .typo-h2, .typo-h3, .typo-h4, .typo-5, .typo-h6 {
	margin: 1.4em 0 0.8em;
}
.typo h1, .typo-h1{
	font-size: 24px;
}
.typo h2, .typo-h2 {
	font-size: 22px;
}
.typo h3, .typo-h3 {
	font-size: 16px;
}
.typo h4, .typo-h4 {
    font-size:14px;
}

.typo h5, .typo h6, .typo-h5, .typo-h6 {
	font-size: 12px;
}

/* 在文章中，应该还原 ul 和 ol 的样式 */
.typo ul, .typo-ul {
	margin-left: 1.3em;
	list-style: disc;
}
.typo ol, .typo-ol {
	list-style: decimal;
	margin-left: 1.9em;
}
.typo li ul, .typo li ol, .typo-ul ul, .typo-ol ol, .typo-ul ol, .typo-ol ul {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 2em;
}
.typo li ul, .typo-ul ul, .typo-ol ul {
	list-style: circle;
}

/* 同 ul/ol，在文章中应用 table 基本格式 */
.typo table th, .typo table td, .typo-table th, .typo-table td{
	border: 1px solid #ddd;
	padding: 5px 10px;
}
.typo table th, .typo-table-th {
	background: #fbfbfb;
}
.typo table thead th, .typo-table thead th {
	background: #f1f1f1;
}

/* Global
 * author: linjianfeng@baixing.com
 */
.visited a{color:#5500bb;}

.red, .highlight{color:#f50!important;}
.green{color:#5ba533!important;}
.blue{color:#06c!important;}

.hide {display: none;}
.show{display: block;}
.invisible {visibility: hidden;}

.fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0;
}
.in {
  opacity: 1;
}
.collapse {
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -ms-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
  position: relative;
  overflow: hidden;
  height: 0;
}
.in {
  height: auto;
}
.close {
  float: right;
  font-family:Impact!important;
  _font-family:Tahoma!important;
  font-size: 20px;
  _font-size: 16px;
  font-weight: blod;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

/* Diamond
 * author: linjianfeng@baixing.com
 */
.diamond{
-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)";
-moz-transform: rotate(45deg);-o-transform: rotate(45deg);-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);
}
:root .diamond{filter:none\9;}

/* HR
 * author: hejiachen@baixing.com
 * Sampel: <hr class="blank10" />
 */
.blank10 {border:none;margin-bottom: 10px;}
.line {border:none;border-bottom:1px solid #ececec;margin: 10px 0;}

hr{border:none;border-bottom:1px solid #cfcfcf;margin-bottom:10px;*color:pink;*filter:chroma(color=pink);height:10px;*margin:-7px 0 2px;}

/* Icons
 * author: linjianfeng@baixing.com
 */
.icon{background:url("../images/icons.png") no-repeat 0 0;display:inline-block;*display:inline;*zoom:1;overflow:hidden;vertical-align:text-bottom;font-size:0;*line-height:0;/* fix 1px font bug in ie */}

.icon-bag, .icon-car, .icon-house, .icon-friend, .icon-love, .icon-book, .icon-pet, .icon-doc, .icon-umbrella,.icon-time,.icon-play, .icon-mobile, .icon-connect, .icon-star, .icon-comment, .icon-flag, .icon-support, .icon-against{width:18px;height:18px;}

.icon-bag{background-position:2px 1px;}
.icon-car{background-position:-41px 1px;} 
.icon-house{background-position:-84px 1px;}
.icon-friend{background-position:-128px 2px;}
.icon-love{background-position:-172px 2px;}
.icon-book{background-position:-215px 1px;}
.icon-pet{background-position:2px -23px;}
.icon-doc{background-position:-43px -23px;}
.icon-umbrella{background-position:-85px -23px;}
.icon-time{background-position:-128px -23px;}
.icon-play{background-position:-173px -23px;}

.icon-mobile{background-position:-77px -51px;}
.icon-connect{background-position:-105px -51px;}
.icon-star{background-position:-137px -51px;}
.icon-comment{background-position:-166px -51px;}
.icon-flag{background-position:-195px -52px;}

.icon-mobile:hover, .button-hover .icon-mobile, .button:hover .icon-mobile{background-position:-77px -75px;}
.icon-connect:hover, .button-hover .icon-connect, .button:hover .icon-connect{background-position:-105px -74px;}
.icon-star:hover, .button-hover .icon-star, .button:hover .icon-star{background-position:-137px -73px;}
.icon-comment:hover, .button-hover .icon-comment, .button:hover .icon-comment{background-position:-167px -74px;}
.icon-flag:hover, .button-hover .icon-flag, .button:hover .icon-flag{background-position:-195px -75px;}

.icon-del, .icon-done, .icon-add, .icon-minus, .icon-del-green, .icon-done-green, .icon-add-green, .icon-minus-green{width:13px;height:13px;}

.icon-del{background-position:-1px -105px;}
.icon-done{background-position:-24px -105px;}
.icon-add{background-position:-49px -105px;}
.icon-minus{background-position:-76px -105px;}

.icon-del:hover{background-position:-1px -123px;}
.icon-done:hover{background-position:-24px -123px;}
.icon-add:hover{background-position:-49px -123px;}
.icon-minus:hover{background-position:-76px -123px;}

.icon-del-green{background-position:-1px -141px;}
.icon-done-green{background-position:-24px -141px;}
.icon-add-green{background-position:-49px -105px;}
.icon-minus-green{background-position:-76px -105px;}


.icon-phone, .icon-id, .icon-trade, .icon-MobileVerified, .icon-bizLicenseVerified, .icon-personalIDVerified{width:18px;height:18px;}

.icon-phone, .icon-MobileVerified{background-position:2px -76px;}
.icon-trade, .icon-bizLicenseVerified{background-position:-22px -76px;}
.icon-id, .icon-personalIDVerified{background-position:-50px -76px;}

.icon-phone-done, .icon-MobileVerified-done{background-position:2px -52px;}
.icon-trade-done, .icon-bizLicenseVerified-done{background-position:-22px -52px;}
.icon-id-done, .icon-personalIDVerified-done{background-position:-50px -52px;}

.icon-support{background-image:url("../images/new-icons.png");background-position:0 -25px;} 
.icon-against{background-image:url("../images/new-icons.png");background-position:0 0;}

/* arrow
 * author: linjianfeng@baixing.com
 */
/*
.arrow{display:inline-block;*display:inline;*zoom:1;overflow:hidden;font-size:0;width:0;height:0;border:5px solid #f7f7f7;position:relative;top:-3px;*top:-2px;}
.arrow-up, .dropdown-open .arrow-down{border-color:#fff;border-bottom:5px solid #ccc;border-top:none;} 
.arrow-down, .dropdown-open .arrow-up{border-top:5px solid #ccc;border-bottom:none;}
.arrow-up:hover{border-bottom-color:#aaa;}
.arrow-down:hover{border-top-color:#aaa;*zoom:1;}
*/
.arrow{display:inline-block;height:0;padding:0!important;border:5px solid transparent;*border-color:pink;font-size:0;width:0;overflow:hidden;*line-height:0;position:relative;top:-5px;vertical-align:text-bottom;*filter:chroma(color=pink);}
.arrow-up, .dropdown-open .arrow-down{border-bottom-color:#aaa;border-top-color: transparent;*border-top-color:pink;}
.arrow-down, .dropdown-open .arrow-up{border-top-color:#aaa;margin-bottom:-5px;border-bottom-color:transparent;*border-bottom-color:pink;}
.arrow-up:hover, .dropdown-open .arrow-down:hover{border-bottom-color:#999;border-top-color: transparent;*border-top-color:pink;}
.arrow-down:hover, .dropdown-open .arrow-up:hover{border-top-color:#999;border-bottom-color:transparent;*border-bottom-color:pink;}

/* button 按钮
 * author: linjianfeng@baixing.com
 */
.button{display:inline-block;border:1px solid #d1d1d1;height:28px;line-height:28px;padding:0 10px;font-size:12px;color:#333;cursor:pointer;vertical-align:middle;_overflow:visible;_overflow-y:hidden;/* fixed ie6 input bug */}
.button:hover, .button-hover{background:#f7f7f7;text-decoration:none;}
.button-grey, .button-green{font-size:14px;line-height:2;}
.button-medium{height:24px;line-height:24px;font-size:12px;}
.button-grey{
	border:1px solid #dadada;
	background: -webkit-gradient(linear, left top, left bottom, from(#FAF9F5), to(#F0EFEB));
	background: -moz-linear-gradient(top, #FAF9F5, #F0EFEB);
	background: -o-linear-gradient(top, #FAF9F5, #F0EFEB);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAF9F5', endColorstr='#F0EFEB')
			 chroma(color=black);
}
.button-grey:hover, .button-grey-hover{
	color:#333;
	border:1px solid #c1c1c1;
	background: -webkit-gradient(linear, left top, left bottom, from(#F0EFEB), to(#FAF9F5));
	background: -moz-linear-gradient(top, #F0EFEB, #FAF9F5);
	background: -o-linear-gradient(top, #F0EFEB, #FAF9F5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0EFEB', endColorstr='#FAF9F5')
			 chroma(color=black);
}
.button-green, .nav{
	color:#ffc;
	border:1px solid #549812;
	background: #60A00D;
	background: -webkit-gradient(linear, left top, left bottom, from(#72B717), to(#60A00D));
	background: -moz-linear-gradient(top, #72B717, #60A00D);
	background: -o-linear-gradient(top, #72B717, #60A00D);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#72B717', endColorstr='#60A00D')
			 chroma(color=black);
}
.button-green:hover, .button-green-hover{
	color:#fff;
	background: #72B717;
	background: -webkit-gradient(linear, left top, left bottom, from(#468A07), to(#72B717));
	background: -moz-linear-gradient(top, #468A07, #72B717);
	background: -o-linear-gradient(top, #468A07, #72B717);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#468A07', endColorstr='#72B717')
			 chroma(color=black);
}
.button-filter{border:1px solid #d1e98e;padding:0 22px 0 5px;height:20px;line-height:20px;position:relative;background:#faffe9;cursor:default;}
.button-filter{*height:16px;*padding-top:5px;*overflow:hidden;}
.button-filter:hover{background:#faffe9;color:#333;}
.button-filter .close{float:none;position:absolute;right:6px;top:0;*top:-2px;font-size:18px;vertical-align:text-top;}

.button-blue{border:1px solid #4185e1;background:#61A4EF;color:#fff;height:24px;line-height:24px;}
.button-blue:hover{background:#08c;border:1px solid #06c;text-decoration:none;color:#fff;}

.button-icon{position:relative;padding-left:30px;color:#333;}
.button-icon .icon{position:absolute;left:8px;top:16%;}
:root button{filter:none!important\9;}

/* Title
 * author: linjianfeng@baixing.com
 */
.title{margin-bottom:20px;}
.title cite{color:#888;font-size:12px;font-weight:500;}

/* Headline
 *author: zhanglin@baixing.com
 */
 .headline{display:block;padding:0 10px;height:36px;line-height:36px;background:#f7f7f7;border-top:2px solid #82c726;font-size:14px;font-weight:700;}
 .headline a{color:#333;}
 .headline-more{float:right;}
 
/* .tag
 * author: linjianfeng@baixing.com
 */
.tag{display:inline-block;padding:0 3px;padding:1px 3px 0\9;background:#eee;margin:0 3px;border-radius:2px;color:#888!important;}
.tag-blue, .tag-green, .tag-red, a.tag:hover{color:#fff!important;}
.tag-blue{background:#08c;}
.tag-green{background:#5ba533;}
.tag-red{background:#f36;}
a.tag:hover{background:#888;text-decoration:none;color:#fff!important;}

/* form 表单
 * author: linjianfeng@baixing.com
 * require: button
 */
.form{
    font-family:serif\0/; /* solution:win7 ie8 line-height bug */
}
.form-inline{display:inline-block;top:-3px;*display:inline;}
.form-input, .form-textarea, .form-search .form-select{display:inline-block;*display:inline;*zoom:1;border:1px solid #cfcfcf;border-color:#CFCFCF #E2E2E2 #E2E2E2 #CFCFCF;}
.form-input-big{height:28px;padding:0 10px;line-height:28px;}
.form-input-35{width:35px;}
.form-input-90{width:90px;}
.form-input-150{width:150px;}
.form-input-230{width:230px;}
.form-input-400{width:400px;}
.form-error{border-color:#f30;}
.form-textarea{height:90px;line-height:1.5;padding:5px 5px;vertical-align:text-top;}
.form-input, .form-input-small{height:22px;line-height:22px;padding:0 5px;}
.form-search .form-select{width:70px;line-height:28px;height:28px;position:relative;*top:-1px;left:-5px;left:-9px\9;cursor:pointer;text-align:center;background:#fff;
left:-6px\0;line-height:29px\0;/* solution:win7 ie8 line-height bug */
}
.mac.chrome .form-search .form-select, .ie-8 .form-search .form-select, .ie-9 .form-search .form-select, .opera .form-search .form-select{top:1px;}
.form-search .form-select, .form-search .form-input{font-size:12px;}
.form-search .form-select-open{height:auto;}
.form-select-open .form-select-menu{display:block;position:absolute;width:68px;padding:0 1px;text-align:left;right:-1px;top:-1px;border: 1px solid #cfcfcf;background:#fff;z-index:2;}
.form-select-menu{background:#fff;display:none;}
.form-select-menu li{display:block;height:28px;line-height:28px;padding-left:10px;}
.form-select-menu li:hover, .form-select-menu li.hover{background:#eee;}
.form-search{position:relative;}
.form-search .form-input, .form-search .form-input-small{width:200px;height:28px;line-height:28px;}
.form-search .form-input-90{width:90px;}
.form-submit{
	vertical-align:middle;
}
.form .button-grey{height:30px;line-height:30px;padding:0 20px;}
.form .button-medium{height:24px;line-height:24px;padding:0 10px;}

/* pagenav 分页
 * author: linjianfeng@baixing.com
 */
.pagenav{height:24px;}
.pagenav a{color:#333;}
.pagenav-cell{display:inline-block;border:1px solid #cfcfcf;padding:0 10px;height:24px;line-height:24px;float:left;margin-right:5px;}
.pagenav-cell-ellipsis{border:none;padding:0;}
.pagenav-cell-current{background:#eee;}
.pagenav .pagenav-cell-next{background:#5ba533;border-color:#4c8928;color:#fff;}
.pagenav-cell:hover{background:#eee;text-decoration:none;}
.pagenav-cell-ellipsis:hover{background:none;}
.pagenav .pagenav-cell-next:hover{background:#458324;}

/* breadcrumb 面包屑导航
 * author: linjianfeng@baixing.com
 */
.bread{color:#999;font-size:12px;}
.bread-cell-current{color:#888;}
.bread-cell-cite{color:#888;}

/* Collapse 折叠
 * author: linjianfeng@baixing.com
 */
.accordion{border:1px solid #cfcfcf;border-bottom:none;}
.accordion-heading{display: block;cursor:pointer;background:#f8f8f8;}
.accordion .collapse{display:none;}
.accordion .in{display:block;}
.accordion-heading{padding:10px;}
.accordion-body{border-top: 1px solid #cfcfcf;padding:0 10px;}


/* Group List 列表
 * author: linjianfeng@baixing.com
 */
#glist{margin-left:-20px;_margin-left:-40px;}
.glist a{color:#333;}
.glist{margin-left:20px;width:180px;float:left;}
.glist-title{padding:3px 5px;border-bottom:2px solid #82C727;background:#f7f7f7;}
.glist-title h3{display:inline-block;*display:inline;*zoom:1;line-height:1.5;font-weight:800;}
.glist-title h3 a{color:green;}
.glist-title a:hover{color:#888;text-decoration:none;}
.glist-title cite{font-size:12px;color:#888;}
.glist-section{
padding-left:6px;
_position:relative; /* fix 多一只猪的问题 */
}
.glist-section-border{border-bottom:1px dotted #cfcfcf;padding-bottom:5px;margin:0 0 5px;_zoom:1;}
.glist-section-last{margin:0 0 10px;}
.glist-section a{display:inline-block;white-space:nowrap;_display:inline-block;_width:80px;min-width:80px;padding:5px 0;}
.glist-section .glist-section-block{display:block;}
.glist-section .glist-section-inlineblock{display:inline-block;_width:80px;_zoom:1;min-width:80px;}
.glist-section-random a{width:auto;min-width:0;margin-right:10px;}

/* Image List 图片列表
 * author: linjianfeng@baixing.com
 */
.imglist{margin-left:-5px;_margin-left:-10px;}
.imglist-item{display:inline-block;float:left;margin-left:5px;width:64px;height:90px;text-align:center;}
.imglist-item img{*display:block;*height:64px;*margin-bottom:3px;}
.imglist-item a:hover{text-decoration:none;color:red;}

/* Images（图片展栏）
 * author: linjianfeng@baixing.com
 */
.images{width:760px;position:relative;margin-left:-9px;}
.images-item{display:inline-block;width:180px;float:left;overflow:hidden;margin:0 0 10px 10px;background:#f7f7f7;cursor:default;}
.images-item img{height:180px;display:inline-block;}
.images-item em, .images-item img, .images-item strong{cursor:pointer;}
.images-item:hover{text-decoration:none;background:#fcffee;}
.images-item-caption{padding:0 5px 5px;}
.images-item-caption strong{font-weight:500;display:block;width:170px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.images-item-caption-meta{overflow:hidden;position:relative;color:#888;font-size:12px;}
.images-item-caption-meta cite{position:absolute;right:0;}
.images-item:hover .images-item-caption-meta cite, .images-item:hover .images-item-caption em{color:#f50;}
.images-item:hover .images-item-caption em, .images-item strong:hover{text-decoration:underline;}

/* List
 * author: linjianfeng@baixing.com
 */
.list a:visited{color:#666;}
.list a.tag:visited{color:#888;}
.list-item{border-bottom:1px solid #ebebeb;padding:10px 0;*display:inline;*zoom:1;width:100%;}
.list-item:nth-child(odd){background:#fcfcfc;}
.list-item:hover, .list-item-hover{background:#fcffee!important;}
.list-item-block{float:left;_width:100px;width:100px;white-space: nowrap;min-width:80px;position:relative;overflow:hidden;text-overflow:ellipsis;color:#888;}
.list-item-block cite{color:#f50;}
.list-item-block img{width:64px;height:64px;}
.list-item-content{width:454px;margin-right:10px;float:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.list-item-title, .list-item-title:hover{background:none!important;}
.list-item-title .list-item-content{color:#888;}
.list-item-title .list-item-block,
.list-item-title .list-item-content,
.list-thumb .list-item-title .list-item-block{font-weight:700;line-height:1.5;height:21px;}
.list i{color:olive;font-style:normal;}
.list-item-content-meta{padding-top:10px;color:#888;}
.list .tag{font-size:12px;}
.list .close{float:none;position:absolute;right:0;*right:10px;*margin-top:-3px;height:22px;line-height:22px;}

.list-thumb .list-item-block{height:64px;line-height:64px;}
.list-thumb .list-item-block img{float:left;}
.list-thumb .list-item-content{padding-top:8px;}
.list-thumb .list-item-title .list-item-content{padding:0;}
.list-thumb .close{line-height:64px;line-height:1\9;top:21px\0/;}
:root .list-thumb .close{line-height:64px\9;top:auto\9;}

.list-singleline div.list-item-content{padding-top:0px;height:64px;line-height:64px;}

.list-5 .list-item-content{width:260px;line-height:21px;}
.list-5 .list-item-block{min-width:75px;width:79px;font-size:12px;line-height:21px;}
.list-5 .list-item-content-small a{font-size:12px;color:#888;}
.list-5 .list-item-title .list-item-block{font-size:14px;}

.list-3 .list-item{_height:20px;_overflow:hidden;}
.list-3 .list-item-content{width:450px;}
.list-3 .list-item-block{width:80px;}
.list-3 .list-item-content-small a{font-size:12px;color:#888;}

.list-2{width:345px;_height:265px;}
.list-2 .list-item{border:none;position:relative;padding:10px;border-bottom:1px dotted #cfcfcf;background:#fff;}
.list-2 .list-item-open{height:20px;height:64px;background:#f7f7f7!important;_overflow:hidden;}
.list-2 .list-item-open .list-item-content{width:246px;float:none;overflow:auto;white-space:normal;}
.list-2 .list-item-open .hide{display:block;}
.list-2 .list-item-content{display:block;width:310px;}
.list-2 img{position:absolute;top:10px;right:10px;}
.list-2 .list-item-content a{color:#333;}
.list-2 .list-item-block{position:static;padding-top:5px;width: auto;}
.list-2 .list-item:nth-child(odd){background:none;}

/* 侧边
 * author: hejiachen@baixing.com
 */
.list-aside {width:auto;}
.list-aside .list-item-block{width:74px;min-width:0;}
.list-aside .list-item {padding:5px 0;border:none;}
.list-aside .list-item:nth-child(odd){background:none;}
.list-aside .list-item:hover, .list-aside .list-item-hover{background:none!important;}
.list-aside .list-item-more a {color: #666;}

/* Tab
 * author: linjianfeng@baixing.com
 */
.tab{position:relative;}
.tab-title{border-bottom:1px solid #cfcfcf;}
.tab-title-item{display:inline-block;float:left;height:28px;line-height:28px;border:1px solid #cfcfcf;border-bottom-color:#cfcfcf;border-right:0;margin-top:1px;position:relative;z-index:1;top:1px;background:#fbfbfb;}
.tab-title .active{border-top:2px solid #5ba533;border-bottom-color:#fff;z-index:2;margin-top:0;background:#fff;}
.tab-title-item-last{border-right:1px solid #cfcfcf;}
.tab-title a{color:#333;padding:0 16px;line-height:28px;}
.tab-title a:hover{color:#5ba533;text-decoration:none;} 
.tab-fix{position:absolute;right:0;top:5px;color:#ddd;}
.tab-fix strong{color:#888;}
.tab-content{border:1px solid #cfcfcf;border-top:none;padding:10px 15px;}
.tab-content-pane{display:none;}
.tab-content .active{display:block;}

/* Topbar 顶部导航
 * author: linjianfeng@baixing.com
 */
.topbar{height:24px;line-height:24px;color:#ccc;font-size:12px;position:absolute;right:0;top:-5px;white-space:nowrap;}
.topbar a{color:#333;}
.topbar a:hover{color:red;}
.topbar-right-text{color:#888;}
.topbar .dropdown{display:inline!important;}
.topbar .tag{height:18px;line-height:18px;}

/* Filter 类目筛选
 * author: linjianfeng@baixing.com
 */
.filter{padding:6px 10px;border:1px solid #cfcfcf;}
.filter a{color:#333;padding-right:3px;}
.filter-intype a{color:#333;display:inline-block;margin-right:5px;}
.filter-intype .filter-item{display:block;float:none;position:relative;_height:30px;_zoom:1;min-height: 30px;padding:8px 0 0 60px;width:auto;margin-bottom:0;border-bottom:1px dotted #ddd;}
.filter-intype .filter-item-cap{position:absolute;left:0;top:8px;}
.filter-intype .filter-item-cap a{margin-right:0;}
.filter-intype .filter-item-last{border:none;}
.filter-intype div{padding-left:10px;margin-bottom:10px;}
.filter-intype .filter-children{padding:10px;background:#fcffed;border:1px solid #cfebab;}
.filter-intype .filter-item-selected{margin-left:-3px;}
.filter-block .filter-item{float:left;width:170px;display:inline-block;padding:10px 0;border-top:1px dotted #ddd;padding-right:20px;font-size:12px;color:#888;}
.filter-block .filter-item-cap{display:block;font-size:14px;color:#06c;}
.filter-toggle{padding:10px 0;border-top:1px dotted #ddd;text-align:center;}
.filter-toggle a, .filter-toggle .arrow-down{color:#06c;border-top-color:#f50;}
.filter-toggle .arrow-up{border-bottom-color:#f50;}
.filter-toggle a:hover{text-decoration:none;}
.filter .form{padding:8px 0;}
.filter .form-input{height:22px;line-height:22px;}
.filter .form-submit{margin-right:20px;}

/* Modal 弹出框
 * author: linjianfeng@baixing.com
 */
.modal{position:absolute;z-index:1002;border:4px solid #434343;background:#fff;width:600px;_overflow:hidden;}
.modal-title{background:#eee;height:30px;line-height:30px;padding:0 20px;}
.modal-content{padding:15px 20px;}
.modal .close{position:absolute;top:6px;right:20px;}
.modal-backdrop{position:absolute;top:0;left:0;height:100%;width:100%;background:#000\9;filter:alpha(opacity=40)\9;background:rgba(0,0,0,0.6);z-index:1001;}

/* Dropdown 下拉菜单
 * author: linjianfeng@baixing.com
 * TODO: 需要更通用，ie bug fix 的比较不好看。重构！
 */
.dropdown{position:relative;z-index:12;+zoom:1;}
.dropdown-menu{display:none;background:#fff;position:absolute;left:0;border:1px solid #cfcfcf;padding:5px;width:200px;z-index:12;}
.dropdown-menu-item{display:inline-block;width:80px;float:left;padding:3px 10px;line-height:1.5;/* prevent overwrite */}
.dropdown-menu-item:hover, .dropdown-menu-item-hover{background:#EAFDBC;text-decoration:none;cursor:pointer;}
.dropdown-open .dropdown-menu{display:block;}
.dropdown-unibody cite{color:#fff;background:#080;display:inline-block;height:12px;padding:0 5px;margin:0 3px;text-align:center;line-height:12px;border-radius:6px;}
.dropdown-unibody .dropdown-menu{width:100px;margin-top:-4px;margin-top:-3px\9;*margin-top:-4px;*top:25px;color:#333;z-index:2;}
.dropdown-unibody .dropdown-menu-item{padding:2px 5px 2px 0;width:auto;}
:root .dropdown-unibody .dropdown-menu{margin-top:-3px\9;}
.dropdown-unibody .dropdown-menu-item:hover, .dropdown-unibody .dropdown-menu-item-hover{background:#fff;color:#f30;}
.dropdown-unibody .dropdown-menu-item a:hover{text-decoration:none;}
.dropdown-unibody .dropdown-trigger, .dropdown-unibody a{color:#333;}
.dropdown-unibody .dropdown-trigger{display:inline-block;position:relative;z-index:3;padding:1px 5px;background:#eee;color:#333;margin:0 5px;border-radius:2px;line-height:16px;_display:inline;_zoom:1;_height:16px;_padding-top:3px;_top:2px;}
.dropdown-unibody .dropdown-trigger:hover{text-decoration:none;}
.dropdown-open .dropdown-trigger-active{margin:0;padding:0 9px;_padding:3px 9px 0;line-height:19px;border:1px solid #cfcfcf;border-bottom:none;background:#fff;z-index:13;color:#333;}
.dropdown-unibody .dropdown-trigger-active:hover{background:#888;color:#fff;}
.dropdown-open .dropdown-trigger-active:hover{color:#333;background:#fff;}
.dropdown-unibody .dropdown-trigger-active:hover cite{background:#fff;color:#333;}
.dropdown-open cite{background:#080;color:#fff;}
.dropdown-open .dropdown-trigger-active:hover cite{background:#080;color:#fff;}
.dropdown-open .arrow-down{top:-10px;}

/* Tips + Alert
 * author: linjianfeng@baixing.com
 */
.tips, .alert{position:absolute;background: #fff8e8;border:1px solid #ffe296;padding:3px 25px 3px 10px;font-size:12px;}
.tips-angle{position:absolute;display:block;width:8px;height:8px;font-size:0;overflow:hidden;background:#fff8ef;border-left:1px solid #ffba00;border-top:1px solid #ffba00;top:2px;*top:0;left:10px;margin-top:-7px;margin-top:-9px\0/;}
.tips-right .tips-angle{right:2px;*right:0;margin-right:-7px;margin-right:-5px\0/;left:auto;top:13px;border-left:none;border-right:1px solid #ffba00;}
.tips-bottom .tips-angle{top:auto;bottom:2px;*bottom:0;margin-bottom:-7px;margin-bottom:-5px\0/;border:none;border-right:1px solid #ffba00;border-bottom:1px solid #ffba00;}
.tips-left .tips-angle{left:2px;*left:0;right:auto;top:13px;margin-left:-7px;margin-left:-9px\0/;border-top:none;border-bottom:1px solid #ffe296;}
.tips .close, .alert .close{position:absolute;right:6px;top:6px;}
:root .tips-angle{margin-top:-7px;}
:root .tips-right .tips-angle{margin-right:-7px;}
:root .tips-bottom .tips-angle{margin-bottom:-7px;}
:root .tips-left .tips-angle{margin-left:-7px;}

.alert{padding:5px 8px;position:relative;}
.alert-title{margin-top:0;}
.alert-ok{border:1px solid #d9eb9f;background:#fbffed;}
.alert-ok h3{font-weight: bold}
.alert-fat{padding:10px;}
.alert-fat .close{top:10px;right:10px;}

/* Flow
 * author: linjianfeng@baixing.com
 */
.flow{margin-left:15px;}
.flow-item{display:inline-block;*display:inline;*zoom:1;float:left;padding:4px 0;text-align:center;width:321px;margin-right:20px;border:1px solid #cfcfcf;position:relative;margin-left:-15px;background:#f7f7f7;}
.flow-item-done{border-color:#d9eb9f;background:#fbffed;}
.flow-item-current{background:#6ab302;border-color:#589803;color:#fff;font-weight:700;}
.flow-item-last{margin-right:0;}
.flow .diamond{height:20px;width:20px;background:#fff;position:absolute;left:-10px;left:-15px\9;border-right:1px solid #cfcfcf;border-top:1px solid #cfcfcf;top:4px;top:0\9;z-index:2;}
.flow .diamond-next{left:auto;border:none;background:#f7f7f7;right:-12px;right:-8px\9;*right:-16px;*z-index:3;border-top:1px solid #cfcfcf;border-right:1px solid #cfcfcf;}
:root .flow .diamond{top:4px\9;left:-10px\9;}
:root .flow .diamond-next{right:-12px\9;left:auto\9;}

.flow-item-first .diamond{display:none;}
.flow-item-first .diamond-next{display:block;}
.flow-item-done .diamond{border-color:#d9eb9f;background:#fff;}
.flow-item-done .diamond-next{display:block;background:#fbffed;border-color:#d9eb9f;}
.flow-item-current .diamond{border-color:#589803;}
.flow-item-current .diamond-next{background:#6ab302;}
.flow-item-last .diamond-next{display:none;}
.flow-item-1{z-index:5;}
.flow-item-2{z-index:4;}
.flow-item-3{z-index:3;}
.flow-item-4{z-index:2;}
.flow-item-5{z-index:1;}

.flow-5{height:150px;}
.flow-5 .flow-item, .flow-item-menu{width:150px;}
.flow-item-head{color:#333}
.flow-item-menu{position:absolute;top:35px;color:#333;line-height:36px;left:0\9;}

/* Logo
 * author: linjianfeng@baixing.com
 */
.logo{height:54px;vertical-align:text-bottom;font-size:12px;}
.logo h1{float:left;width:130px;height:54px;}
.logo-side{position:relative;height:40px;float:left;width:85px;bottom:-14px;font-size:14px;color:#999;}
.logo-side .logo-side-current{position:absolute;bottom:-3px;background:#fff;padding:0 6px 3px;border:1px solid #fff;border-bottom:none;z-index:3;white-space:nowrap;}
.dropdown-open .logo-side-current{border-color:#cfcfcf;}
.logo-side .dropdown-menu, 
.logo-bread .dropdown-menu{width:260px;top:42px;font-size:12px;z-index:2;padding:0;}

.logo-side .dropdown-menu, .logo-bread .dropdown-menu{width:260px;top:42px;font-size:12px;z-index:2;padding:0;}
.logo-side table, 
.logo-bread table{border:5px solid #fff\9;width:100%\9;padding:5px;border-bottom:1px solid #cfcfcf;display:block;}
.logo-side td, 
.logo-bread td{padding:3px 0;}
.logo-side .more-city, 
.logo-bread .more-city{line-height:30px;padding:0 5px;}
/* .header-small .logo .ddarrow{background: #FFFFFF;border: 1px solid #AAAAAA;float: right;height: 14px;left: 3px;line-height: 1;padding: 0 2px;position: relative;top: 4px;} */

/* Nav
 * author: linjianfeng@baixing.com
 */
.nav{border:1px solid #549712;border-bottom:3px solid #498901;padding-left:10px;margin-bottom:10px;}
.nav-home{margin-bottom:0;}
.nav-item{float:left;display:inline-block;float:left;height:35px;overflow:hidden;}
.nav-item-link{display:inline-block;height:35px;line-height:35px;line-height:38px\9;line-height:34px\0;padding:0 16px;color:#ffc;}
.win.ie-8 .nav-item-link{line-height:38px;}
.nav-item-link:hover, .nav-item-current .nav-item-link{color:#fff;background:#498901;border-left:1px solid #3E7B0B;border-right:1px solid #3E7B0B;padding:0 15px;text-decoration:none;}

/* Category Box
 * author: linjianfeng@baixing.com
 */
.catbox{margin-left:-10px;position:relative;width:780px;}
.catbox .list .list-item{_width:355px;_overflow:hidden;}
.catbox .list .list-item cite{font-size:12px;color:#f50;}
.catbox .list .list-item img{padding-right:10px;}
.catbox-item{width:365px;padding:10px;float:left;border-bottom:10px solid #fff;}
.catbox .headline a{color:#888;}

/* aside
 * author: linjianfeng@baixing.com
 */
.aside{color:#666;}
.aside{border:1px solid #ddd;padding:0 10px;margin-bottom:20px;font-size:12px;line-height:1.85;text-align:left;}
.aside-box{padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #eee;}
.aside-box-noborder{border-bottom:none;}
.aside-box-higher{line-height:2;}

/* Table
 * author: zhanglin@baixing.com
 */
.table {width: 100%;margin-bottom: 18px;}
.table th,
.table td {padding: 8px;line-height: 18px;text-align: left;vertical-align: top;border-top: 1px solid #dddddd;}
.table th {font-weight: bold;}
.table thead th {vertical-align: bottom;}
.table thead th,
.table thead td{border-top:none;}
.table tbody + tbody {border-top: 2px solid #dddddd;}
.table-condensed th,
.table-condensed td {padding: 4px 5px;}
.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.table-bordered th,
.table-bordered td {border-left: 1px solid #dddddd;}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {border-top: 0;}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {background-color: #f9f9f9;}
.table tbody tr:hover td,
.table tbody tr:hover th {background-color: #f5f5f5;}
.html-table-first {white-space: nowrap;}

/* TODO: Typeahead
 * author: linjianfeng@baixing.com
 */
.typeahead{position:absolute;}
.typeahead .active{background:#ddd;}

/* TODO: Popover
 * author: linjianfeng@baixing.com
 */
.popover{position:absolute;}
.spar {color:#ABCD72;border-bottom:1px #59A905 solid;background-color: none!important;line-height: 3;border-top:10px solid #fff;}
