@charset "utf-8";

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
	color: #333;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, group, menu, nav, section {
	margin: 0;
	padding: 0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
	font: 14px/1.5 'Times and Roams', "Microsoft Yahei", serif;
}

input, select, textarea {
	font-size:1em;
	vertical-align:middle;
}
button, input {*overflow: visible;line-height: normal;}
button::-moz-focus-inner,input::-moz-focus-inner {padding:0;border:0;}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
	text-align: inherit;
}

/* 去除默认边框 */
fieldset, img {
	border: 0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
	display: block;
}

/* 块/段落引用 */
blockquote {
	margin: 1em 4em 1em 2em;
	padding: 0.6em 1em;
	background: #f1f1f1;
}
blockquote blockquote {
	padding: 0 0 0 1em;
	margin-left: 2em;
	border-left: 0.4em solid #ddd;
}

/* Firefox 以外，元素没有下划线，需添加 */
acronym, abbr {
	border-bottom: 1px dotted;
	font-variant: normal;
}

/* 添加鼠标问号，进一步确保应用的语义是正确的 */
abbr {
	cursor: help;
}

/* 一致的 del 样式 */
del {
	text-decoration: line-through;
}

address, caption, cite, code, den, em, th, var {
	font-style: normal;
	font-weight: 500;
}

/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
ul, ol {
	list-style: none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
	text-align: left;
}

/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
h1, h2, h3, h4, h5, h6 {
	font: 100%/1 Arial, "STXihei", Hei, "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
}

q:before, q:after {
	content: '';
}

/* 统一上标和下标 */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

a{color:#06c;}

/* 让链接在 hover 状态下显示下划线 */
a:hover {
	text-decoration: underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins, a {
	text-decoration: none;
}

pre, code {
	font-family: 'Courier New', serif;
}
pre {
	border: 1px solid #ddd;
	border-left-width: 0.4em;
	background: #fbfbfb;
	padding: 10px;
}

/* 底部印刷体、版本等标记 */
small {
	font-size: 12px;
	color: #888;
}

/* 清理浮动 */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both
}

.clearfix {
	*zoom: 1
}

/*
Variable Grid System.
Learn more ~ http://www.spry-soft.com/grids/
Based on 960 Grid System - http://960.gs/
Licensed under GPL and MIT.
*/

body{ min-width:1000px}

/* layout container for the grid */
.container{margin-left:auto;margin-right:auto;width:1000px}

/* grid system */
.grid{display:inline;float:left;position:relative;margin-left:10px;margin-right:10px}
.grid-1{width:30px}
.grid-2{width:80px}
.grid-3{width:130px}
.grid-4{width:180px}
.grid-5{width:230px}
.grid-6{width:280px}
.grid-7{width:330px}
.grid-8{width:380px}
.grid-9{width:430px}
.grid-10{width:480px}
.grid-11{width:530px}
.grid-12{width:580px}
.grid-13{width:630px}
.grid-14{width:680px}
.grid-15{width:730px}
.grid-16{width:780px}
.grid-17{width:830px}
.grid-18{width:880px}
.grid-19{width:930px}
.grid-20{width:980px;}

/* clear extra spaces */
.first{margin-left:0}
.last{margin-right:0}

/* 现代排版：保证块/段落之间的空白隔行 */
.typo p, .typo pre, .typo ul, .typo ol, .typo dl, .typo form, .typo hr {
	margin: 0.6em 0 1em;
}

/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
.typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6, .typo-h1, .typo-h2, .typo-h3, .typo-h4, .typo-5, .typo-h6 {
	margin: 1.4em 0 0.8em;
}
.typo h1, .typo-h1{
	font-size: 24px;
}
.typo h2, .typo-h2 {
	font-size: 22px;
}
.typo h3, .typo-h3 {
	font-size: 16px;
}
.typo h4, .typo-h4 {
    font-size:14px;
}

.typo h5, .typo h6, .typo-h5, .typo-h6 {
	font-size: 12px;
}

/* 在文章中，应该还原 ul 和 ol 的样式 */
.typo ul {
	margin-left: 1.3em;
	list-style: disc;
}
.typo ol {
	list-style: decimal;
	margin-left: 1.9em;
}
.typo li ul, .typo li ol {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 2em;
}
.typo li ul {
	list-style: circle;
}

/* 同 ul/ol，在文章中应用 table 基本格式 */
.typo table th, .typo table td {
	border: 1px solid #ddd;
	padding: 5px 10px;
}
.typo table th {
	background: #fbfbfb;
}
.typo table thead th {
	background: #f1f1f1;
}

/* Global
 * author: sofish@163.com
 */
.visited a{color:#5500bb;}

.red{color:red;}
.green{color:green;}


/* button 按钮
 * author: sofish@163.com
 */
.button{}
.button-middle{}
.button-big{}
.button-grey{}
.button-green{}

/* form 表单
 * author: sofish@163.com
 * require: button
 */
.form{
    /* [hack firefox] form-select & form-input 1px vertical align bug*/
    font-family:Arial;
}
.form-input, .form-search .form-select{display:inline-block;border:1px solid #cfcfcf;border-bottom-color:#e2e2e2;font-size:12px;}
.form-input{width:240px;height:28px;padding:0 10px;}
.form-input-small{height:22px;}
.form-search .form-select{width:50px;line-height:28px;height:28px;border-left:none;position:relative;top:1px;left:-4px;padding:0 10px;}

/* pagenav 分页
 * author: sofish@163.com
 */
.pagenav{font-family:Arial;}
.pagenav-cell{display:inline-block;border:1px solid #cfcfcf;padding:0 10px;height:24px;line-height:24px;}
.pagenav-cell-ellipsis{border:none;padding:0;}
.pagenav-cell-current{background:#eee;}
.pagenav-cell-next{background:#5ba533;border-color:#4c8928;color:#fff;}
.pagenav-cell:hover{background:#eee;text-decoration:none;}
.pagenav-cell-ellipsis:hover{background:none;}
.pagenav-cell-next:hover{background:#458324;}

/* breadcrumb 面包屑导航
 * author: sofish@163.com
 */
.bread{color:#999;font-size:12px;}
.bread-cell-current{color:#333;}
.bread-cell-cite{color:#888;}

/* Group List 列表
 * author: sofish@163.com
 */
#glist{margin-left:-20px;}
.glist{margin-left:20px;width:180px;float:left;}
.glist-title{background:#f8f8f8;padding:3px 5px;}
.glist-title h3{display:inline-block;}
.glist-title a{color:#333;}
.glist-title a:hover{color:#888;text-decoration:none;}
.glist-title cite{font:12px Arial;color:#888;}
.glist-section{margin:5px 0;border-bottom:1px dotted #cfcfcf;padding-bottom:10px;}
.glist-section-last{border:none;padding-bottom:0;}
.glist-section a{display:inline-block;white-space:nowrap;_width:80px;_zoom:1;min-width:80px;padding:5px 0;}
.glist-section .glist-section-block{display:block;}
.glist-section .glist-section-inlineblock{display:inline-block;_width:80px;_zoom:1;min-width:80px;}
.glist-section-random a{width:auth;min-width:0;margin-right:10px;}

/* Image List 图片列表
 * author: sofish@163.com
 */
.imglist{margin-left:-10px;}
.imglist-item{display:inline-block;float:left;margin-left:10px;width:64px;height:90px;text-align:center;}
.imglist-item a:hover{text-decoration:none;color:red;}

/* Tab
 * author: sofish@163.com
 */
.tab{}
.tab-title{border-bottom:1px solid #cfcfcf;padding-left:10px;}
.tab-title-item{display:inline-block;float:left;height:28px;line-height:28px;padding:0 16px;border:1px solid #cfcfcf;border-bottom-color:#cfcfcf;border-right:0;margin-top:1px;position:relative;z-index:1;top:1px;background:#fbfbfb;}
.tab-title-item-active{border-top:2px solid #5ba533;border-bottom-color:#fff;z-index:2;margin-top:0;background:#fff;}
.tab-title-item-last{border-right:1px solid #cfcfcf;}
.tab-title a{color:#333;}
.tab-title a:hover{color:#5ba533;text-decoration:none;}

/* Topbar 顶部导航
 * author: sofish@163.com
 */
.topbar{background:#f8f8f8;height:24px;line-height:24px;color:#ccc;font-size:12px;}
.topbar a{color:#333;}
.topbar a:hover{color:red;}
.topbar-left{float:left;}
.topbar-right{float:right;}



