/* 顶部导航 */
#topbar{background:#f7f7f7;margin-bottom:10px;_zoom:1;line-height:1;}

/* 头部 */
#header{margin-bottom:10px;position:relative;border-top:15px solid #fff;}
#header .form-search{padding-top:24px;}
#header .last{text-align: right;padding-top:25px;}
#header .bread{vertical-align:bottom;}

.header-small {_border-top:0!important;_top:15px;}
.header-small .logo{height:40px;}
.header-small .logo{position:relative;top:-3px;}
.header-small .logo h1{width:auto;margin-right:5px;}
.header-small .logo img{height:40px;}
.header-small .logo-side{bottom:0;}

.logo-side{padding-top:0;font-size:14px;}
.logo-side .logo-side-current{background:#fff;padding:0 6px 3px;border:1px solid #fff;border-bottom:none;z-index:3;white-space:nowrap;}
.dropdown-open .logo-side-current{border-color:#cfcfcf;}
.logo-side .dropdown-menu{width:260px;top:42px;font-size:12px;z-index:2;padding:0;}
.logo-side table{*border:5px solid #fff;padding:5px;border-bottom:1px solid #cfcfcf;width:100%;display:block;}
.logo-side td{padding:3px 0;}
.logo-side .more-city{line-height:30px;padding:0 5px;}
/* .header-small .logo .ddarrow{background: #FFFFFF;border: 1px solid #AAAAAA;float: right;height: 14px;left: 3px;line-height: 1;padding: 0 2px;position: relative;top: 4px;} */

.header-small .last{padding-top:0!important;}
.header-small .grid{height:35px;}
.header-small .bread{padding-top:20px;}
.header-small .topbar{padding-top:20px;}

/* 面包屑导航 */
#breadcrumb{padding:15px 0 10px;border-bottom:1px solid #ddd;}

/* 首页热门推荐 */
#hot{border:1px solid #cfcfcf;border-top:none;width:968px;height:103px;padding:5px;margin-bottom:20px;position:relative;}
#hot table{margin:5px 0 0 10px;}
#hot .grid-4{width:160px;}
#hot .sperator{width:30px;text-align:center;color:#aaa;}
#hot .grid-4 a{white-space:nowrap;line-height:2;}
#hot-tips{height:46px;width:20px;background:url(../../images/hot.png) no-repeat 0 0;position:absolute;left:-21px;top:0;text-indent:-9999em;}

/* 首页列表 */
#gcats{margin-bottom:20px;}

/* 友情链接 */
#footlinks{position:relative;font-size:12px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding:10px 0;margin-bottom:20px;color:#888;}
#footlinks td{padding-bottom:5px;line-height:1.8;}
#footlinks a{color:#888;padding-right:5px;}
#footlinks th{font-weight:700;width:80px;vertical-align:text-top;}
#footlinks th, #footlinks th a{color:#666;}

/* 页脚 */
#footer{text-align:center;margin-bottom:20px;font-size:12px;color:#888;}
#footer .copyright{margin:10px;}
#footer small{padding-right:20px;}

.gov{height:60px;_position:relative;}
.gov a{_position:absolute;_left:455px;_top:0;}
.gov .gov-social{_left:400px;}

/* 一、二级类目 filter */
#filter{margin-bottom:10px;border-bottom:1px solid #ddd;}
#filter .filter{margin-bottom:5px;}
#filter .filter-intype{margin:15px 0 5px;}
#filter .form-search{margin-bottom:15px;}
#filter .form-inline{margin-bottom: 0;}
#filter .form-input{width:230px;}
#filter .form-inline .form-input{width:60px;}
#filter .form-submit{margin-right:20px;}

/* 3rd Parth ad */
.adsense{margin-bottom:10px;*zoom:1;}
.adsense li{display:block;width:730px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-bottom:10px;}

/* 类目主栏 */
#content{_overflow:hidden; /* hack ie6 下侧栏掉到页面底部 bug */}
#content #filter{border-bottom-color:#fff;}
#content .tab-title{margin-bottom:10px;}
#content .list-thumb, #content .pagenav{margin-bottom:15px;}
#content .images{padding:10px 0;zoom:1;}
#content .endtips{margin:15px 0;}

/* 侧栏 */
#aside{text-align:right;}
#aside-left{padding-top:20px;}
#aside-left .aside{float:left;}

/* 文档 */
.agreement h2{margin-top:10px;}
.agreement li{padding:5px 0;font-family:Verdana, sans-serif;}
.agreement ol ul{margin:8px 0 5px 0;}
.agreement ul li{font-weight:500;padding:0;font-family:serif;list-style:none;}

/* View Ad */
.viewad{}
.viewad-title{font-size:20px;margin:20px 0 5px;}
.viewad-title-nometa{margin-bottom:20px;}
.viewad-meta{font-size:12px;color:#888;margin-bottom:15px;}
.viewad-info .typo-table{width:100%;}
.viewad-info-list img{vertical-align:middle;}
.viewad-info td{width:33%;}
.viewad-entry-contact img{vertical-align:middle;}
.viewad-share{margin-bottom:30px;}
.viewad-share a{*margin-right:5px;}
.viewad-relative{margin-bottom:10px;}
.viewad-relative h4{margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #ddd;}

.aside .store-logo{display:block;width:170px;height:180px;margin:10px 0;background:#f7f7f7;position:relative;}
.aside .store-logo img{display:block;height:180px;width:180px;position:absolute;left:-5px;background:#eee;}
.aside .store-info{margin:10px 0;}
.aside .store-info li{color:#888;}
.aside .store-verify{padding:5px 10px;background:#f7f7f7;}
.aside .store-verify li{color:#080;line-height:2;}
.aside .store-verify a{position:relative;top:2px;margin-right:5px;}

/* 发布 */
#publish-flow{margin-bottom:20px;}
#publish{width:948px;border:1px solid #ddd;padding:30px 15px 20px;margin-bottom:20px;}
#publish-title, .selects, .selects-cat, .selects-subcat, .selects-seprator, .selects .tab{float: left;}
#publish .selects{*float:none;*margin-left:120px;}
#publish-title{padding-right:10px;text-align:right;width:110px;}

.selects-map{display:none;margin-bottom:10px;}
.selects-map-on{display:block;}
.selects-cat{width:120px;border:1px solid #cfcfcf;padding:5px;}
.selects-box a{display:block;height:30px;line-height:30px;padding:0 10px;color:#333;}
.selects-box a:hover{background:#D1E98E;text-decoration:none;}
.selects-seprator{width:18px;padding:140px 15px 0;}

.selects-box{width:130px;height:300px;border:1px solid #cfcfcf;padding:5px;}
.selects-box-2{width:260px;}
.selects-box-4{width:600px;}
.selects-box-tab{height:259px;}

.selects .tab .clearfix{*zoom:0;}
.selects .tab-title-item{*display:inline;*float:none;}
.selects .tab-title{padding:0 20px 0 0;}
.selects .tab-content{padding:10px 5px;border-top:none;}
.selects .tab .selects-box a{width:110px;float:left;}

.selects .form-search{clear:both;border-top:20px solid #fff;border-bottom:10px solid #fff;}
.selects .form-search p{font-size:12px;padding-bottom:8px;}
.selects .form-search .form-input{width:240px;}

.publish-detail{clear:both;}
.publish-detail input{vertical-align:baseline;*vertical-align:middle;}
.publish-detail label{padding-right:10px;}
.publish-detail select{margin-right:8px;}
.publish-detail .form-input{margin-right:10px;}
.p-label{display:inline-block;width:110px;text-align:right;font-weight:700;padding:0;}
.p-line{padding:10px 0;}
.p-tip{display:block;height:40px;line-height:3;}
.p-tip, .p-submit{padding-left:120px;}
.p-submit{margin-bottom:15px;}
.p-note{font-size:12px;}

/* 认证 */
#certify{margin-top:15px;}
#certify .p-tip{line-height:1;}
#certify .tab{margin-bottom:20px;}

/* 用户中心
 * @author: hejiachen@baixing.com
 */
.aside-box-wo li{padding-bottom:1px;}
.aside-box-wo li a, .aside-box-wo .active span {display:block;height:28px;line-height:28px;padding:0 10px;margin:0 -10px;position:relative;} 
.aside-box-wo li a:hover, .aside-box-wo .active span {background:#D1E98E;text-decoration:none;}
.aside-box-wo li a:hover {background:#eefcc7;color:#333;}
.aside-box-avatar {padding-top: 10px;}
.aside-box-avatar img {float:left;margin-right:10px;}

/* 登录 */
#login{padding-top:60px;margin-bottom:30px;width:300px;}
#login .tab-title{padding-left:0;}
#login .tab-content{padding-top:30px;}
.login-line{margin-bottom:15px;}
