extends layout

block content
  .container
    .grid#fonts

      .typo
        h2 使用方法&nbsp;
          small 在需要使用的地方，添加&nbsp;
            code class="icon-NAME"
            |&nbsp; 即可。

      hr

      span.box1
        span.icon-pencil(aria-hidden='true')
        | icon-pencil
      span.box1
        span.icon-bullhorn(aria-hidden='true')
        | icon-bullhorn
      span.box1
        span.icon-camera(aria-hidden='true')
        | icon-camera
      span.box1
        span.icon-image(aria-hidden='true')
        | icon-image
      span.box1
        span.icon-location(aria-hidden='true')
        | icon-location
      span.box1
        span.icon-clock(aria-hidden='true')
        | icon-clock
      span.box1
        span.icon-phone(aria-hidden='true')
        | icon-phone
      span.box1
        span.icon-mobile(aria-hidden='true')
        | icon-mobile
      span.box1
        span.icon-bubble(aria-hidden='true')
        | icon-bubble
      span.box1
        span.icon-user(aria-hidden='true')
        | icon-user
      span.box1
        span.icon-users(aria-hidden='true')
        | icon-users
      span.box1
        span.icon-cog(aria-hidden='true')
        | icon-cog
      span.box1
        span.icon-remove(aria-hidden='true')
        | icon-remove
      span.box1
        span.icon-eye(aria-hidden='true')
        | icon-eye
      span.box1
        span.icon-star(aria-hidden='true')
        | icon-star
      span.box1
        span.icon-heart(aria-hidden='true')
        | icon-heart
      span.box1
        span.icon-info(aria-hidden='true')
        | icon-info
      span.box1
        span.icon-cancel-circle(aria-hidden='true')
        | icon-cancel-circle
      span.box1
        span.icon-checkmark-circle(aria-hidden='true')
        | icon-checkmark-circle
      span.box1
        span.icon-close(aria-hidden='true')
        | icon-close
      span.box1
        span.icon-checkmark(aria-hidden='true')
        | icon-checkmark
      span.box1
        span.icon-minus(aria-hidden='true')
        | icon-minus
      span.box1
        span.icon-blocked(aria-hidden='true')
        | icon-blocked
      span.box1
        span.icon-loop(aria-hidden='true')
        | icon-loop
      span.box1
        span.icon-share(aria-hidden='true')
        | icon-share
      span.box1
        span.icon-pinToTop(aria-hidden='true')
        | icon-pinToTop
      span.box1
        span.icon-envelope(aria-hidden='true')
        | icon-envelope
      span.box1
        span.icon-bars(aria-hidden='true')
        | icon-bars
      span.box1
        span.icon-search(aria-hidden='true')
        | icon-search
      span.box1
        span.icon-user-2(aria-hidden='true')
        | icon-user-2
      span.box1
        span.icon-arrow-up(aria-hidden='true')
        | icon-arrow-up
      span.box1
        span.icon-apple(aria-hidden='true')
        | icon-apple
      span.box1
        span.icon-android(aria-hidden='true')
        | icon-android
      span.box1
        span.icon-windows8(aria-hidden='true')
        | icon-windows8
      span.box1
        span.icon-cart(aria-hidden='true')
        | icon-cart
      span.box1
        span.icon-flag(aria-hidden='true')
        | icon-flag
      span.box1
        span.icon-post(aria-hidden='true')
        | icon-post
      span.box1
        span.icon-plus(aria-hidden='true')
        | icon-plus
      span.box1
        span.icon-cashBag(aria-hidden='true')
        | icon-cashBag
      span.box1
        span.icon-mobile-2(aria-hidden='true')
        | icon-mobile-2
      span.box1
        span.icon-question(aria-hidden='true')
        | icon-question
      span.box1
        span.icon-arrowDown(aria-hidden='true')
        | icon-arrowDown
      span.box1
        span.icon-arrowLeft(aria-hidden='true')
        | icon-arrowLeft
      span.box1
        span.icon-arrowRight(aria-hidden='true')
        | icon-arrowRight
      span.box1
        span.icon-arrowTop(aria-hidden='true')
        | icon-arrowTop
      span.box1
        span.icon-downTriangle(aria-hidden='true')
        | icon-downTriangle
      span.box1
        span.icon-renew(aria-hidden='true')
        | icon-renew
      span.box1
        span.icon-fangwu(aria-hidden='true')
        | icon-fangwu
      span.box1
        span.icon-cheliang(aria-hidden='true')
        | icon-cheliang
      span.box1
        span.icon-jiaoyou(aria-hidden='true')
        | icon-jiaoyou
      span.box1
        span.icon-jianli(aria-hidden='true')
        | icon-jianli
      span.box1
        span.icon-chongwu(aria-hidden='true')
        | icon-chongwu
      span.box1
        span.icon-jiaoyu(aria-hidden='true')
        | icon-jiaoyu
      span.box1
        span.icon-fuwu(aria-hidden='true')
        | icon-fuwu
      span.box1
        span.icon-jianzhi(aria-hidden='true')
        | icon-jianzhi
      span.box1
        span.icon-quanzhi(aria-hidden='true')
        | icon-quanzhi
      span.box1
        span.icon-ershou(aria-hidden='true')
        | icon-ershou
