extends layout

block content
  .container
    .grid#fonts

      .typo
        h2 使用方法&nbsp;
          small 在需要使用的地方，添加&nbsp;
            code class="icon-NAME"
            |&nbsp; 即可。

      hr

      span.box
        span.icon-pencil(aria-hidden='true')
        | icon-pencil
      span.box
        span.icon-bullhorn(aria-hidden='true')
        | icon-bullhorn
      span.box
        span.icon-camera(aria-hidden='true')
        | icon-camera
      span.box
        span.icon-image(aria-hidden='true')
        | icon-image
      span.box
        span.icon-location(aria-hidden='true')
        | icon-location
      span.box
        span.icon-clock(aria-hidden='true')
        | icon-clock
      span.box
        span.icon-phone(aria-hidden='true')
        | icon-phone
      span.box
        span.icon-mobile(aria-hidden='true')
        | icon-mobile
      span.box
        span.icon-bubble(aria-hidden='true')
        | icon-bubble
      span.box
        span.icon-user(aria-hidden='true')
        | icon-user
      span.box
        span.icon-users(aria-hidden='true')
        | icon-users
      span.box
        span.icon-cog(aria-hidden='true')
        | icon-cog
      span.box
        span.icon-remove(aria-hidden='true')
        | icon-remove
      span.box
        span.icon-eye(aria-hidden='true')
        | icon-eye
      span.box
        span.icon-star(aria-hidden='true')
        | icon-star
      span.box
        span.icon-heart(aria-hidden='true')
        | icon-heart
      span.box
        span.icon-info(aria-hidden='true')
        | icon-info
      span.box
        span.icon-cancel-circle(aria-hidden='true')
        | icon-cancel-circle
      span.box
        span.icon-checkmark-circle(aria-hidden='true')
        | icon-checkmark-circle
      span.box
        span.icon-close(aria-hidden='true')
        | icon-close
      span.box
        span.icon-checkmark(aria-hidden='true')
        | icon-checkmark
      span.box
        span.icon-minus(aria-hidden='true')
        | icon-minus
      span.box
        span.icon-plus(aria-hidden='true')
        | icon-plus
      span.box
        span.icon-blocked(aria-hidden='true')
        | icon-blocked
      span.box
        span.icon-loop(aria-hidden='true')
        | icon-loop
      span.box
        span.icon-share(aria-hidden='true')
        | icon-share
      span.box
        span.icon-upload(aria-hidden='true')
        | icon-upload
      span.box
        span.icon-envelope(aria-hidden='true')
        | icon-envelope
      span.box
        span.icon-bars(aria-hidden='true')
        | icon-bars
      span.box
        span.icon-search(aria-hidden='true')
        | icon-search
      span.box
        span.icon-user-2(aria-hidden='true')
        | icon-user-2
      span.box
        span.icon-arrow-up(aria-hidden='true')
        | icon-arrow-up
      span.box
        span.icon-apple(aria-hidden='true')
        | icon-apple
      span.box
        span.icon-android(aria-hidden='true')
        | icon-android
      span.box
        span.icon-windows8(aria-hidden='true')
        | icon-windows8
      span.box
        span.icon-cart(aria-hidden='true')
        | icon-cart
      span.box
        span.icon-flag(aria-hidden='true')
        | icon-flag
      span.box
        span.icon-post(aria-hidden='true')
        | icon-post
      span.box
        span.icon-cashBag(aria-hidden='true')
        | icon-cashBag
