mixin style(sheets)
  each sheet in sheets
    link(rel='stylesheet', href=sheet)

mixin script(scripts)
  each src in scripts
    script(src=src)

doctype 5
html
  head
    - pageTitle = title === 'Puerh' ? 'Puerh' : title + ' - Puerh'
    title= pageTitle
    - sheets = ['/css/puerh.css', '/css/font.css', '/css/grid.css']
    mixin style(sheets)
    include style
    //if lt IE 8
      script(src='/js/font.js?ver=1')

  body(data-spy="scroll", data-target="#nav")

    #header
      .container
        .grid
          h1
            a(href="/") Puerh
          p.sep
            |Puerh，百姓网 UI 库。旨在建立稳定、简洁、兼容的前端框架。兼容 Mac/Windows 下的 IE6+ / Firefox / Google Chrome 浏览器。
            |Puerh 的目标是构建一套适合百姓网的前端解决方案。从模块区分上，她包含：
            a(href='/typography') Typography
            |、
            a(href="/grid") Grid
            |、
            a(href="https://github.com/baixing/baicons") Font Icon
            |、
            a(href="/ui") UI 组件
            |&nbsp;和&nbsp;
            a(href="/js") JS 组件
          p 第一次使用 Puerh？请看&nbsp;
            a(href="/start") Getting Start &rarr;
            |&nbsp;如在使用上遇到任何问题，请通过 Github Issues 给我们&nbsp;
            a(href="https://github.com/baixing/Puerh/issues") 提意见 &rarr;

    block content

    block extra

    #footer
      .container
        .grid.grid-20
          small CopyRight 2013 Baixing LLC

    a#source(href="https://github.com/baixing/puerh")
      img(src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png")

    block scripts
    - scripts = ['http://code.jquery.com/jquery-1.11.3.min.js', '/js/bootstrap.js', '/js/puerh.js']
    mixin script(scripts)
