style
  #header{background:#2c3e50;padding:10px 0 30px;margin-bottom:20px;}
  #header{color:#fff;}
  #header h1, #header a{color:#2ecc71;}
  #content{padding-bottom:100px;}
  #source{position:_absolute;position:fixed;right:0;top:0;display:block;}
  #footer{padding:20px 0;width:100%;margin-top:30px;border-top:1px solid #eee;background:#fff;}

  #fonts .box{display:inline-block;width:25%;float:left;font-size:16px;margin-bottom:10px;vertical-align:middle;}
  #fonts{font-family:Courier New, Courier, monospace;}
  #fonts .box span{display:inline-block;margin-right:5px;}

  #nav a{color:#27ae60;line-height:1.8;}
  #nav a:hover{color:#fff;}
  .highlight{color:#ec5524;}

  .affix.list{width:230px;}
  #nav a:hover{background:#1abc9c;}

  #grid-demo .grid, #grid-demo .sidecol, #grid-demo .maincol{background:#f8f8f8;text-align:center;margin-bottom:1em;height:40px;color:#999;font:italic 1em/40px Georgia, serif;}
