style
  #header{background:#2c3e50;padding:10px 0 30px;margin-bottom:20px;}
  #header{color:#fff;}
  #header h1, #header a{color:#2ecc71;}
  #content{padding-bottom:100px;}
  #footer{padding:20px 0;width:100%;margin-top:30px;border-top:1px solid #eee;}

  #fonts .box{display:inline-block;width:25%;float:left;font-size:16px;margin-bottom:10px;vertical-align:middle;}
  #fonts .box span{display:inline-block;margin-right:5px;}

  a{color:#27ae60;}

  .affix.list{width:230px;}
