extends layout

block content
  .container#content
    .grid.grid-5#nav
      ul.list.affix-top(data-spy="affix", data-offset-top="132")
        li.list-item
          a(href="#usage") Usage
        li.list-item
          a(href="#paragraph") Paragraph
        li.list-item
          a(href="#heading") Header
        li.list-item
          a(href="#inline") Inline Elements
        li.list-item
          a(href="#embed") Embeded Content
        li.list-item
          a(href="#group") Grouping content
        li.list-item
          a(href="#table") Table
        li.list-item
          a(href="#form") Form
        li.list-item
          a(href="#util") Uitilities

    .grid.grid-15.last.typo

      h1#usage 使用方法

      p 需要排版的地方，在其父级元素添加&nbsp;
        code .typo
        |&nbsp; 即可。当只想用单独一个元素，或者让其显示和某个元素一样效果的时候，可以使用&nbsp;
        code .typo-TAGNAME
        |&nbsp;如&nbsp;
        code div.typo-small
        | &nbsp;可以获得&nbsp;
        code .typo small
        |&nbsp;一样的效果

      hr#paragraph
      h1 段落中英混排 / Text-level semantics
      p(hidden='hidden') This should be hidden in all browsers, apart from IE6
      p
        | 戲分漸樹不認許了際筆願前一風遠公師再實調致興家事在的，語笑油的，女幾到善師字何……教上些品、你全頭？來經未由看著會當裡。
        | 方有現國便散；法構許事這的第，們見了調晚在坡？個雨命我常此座看兒高治父利來工利在要外女岸要想？業期在平馬下本方別們立不院生讀試會民接前手媽；說並言不成盡意覺角拿了多？
      p
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m.
      address Address: somewhere, world

      hr#heading
      h1 标题 / Heading 1
      h2 标题 Heading 2
      h3 标题 Heading 3
      h4 标题 Heading 4
      h5 标题 Heading 5
      h6 标题 Heading 6

      hr#inline
      h1 行内元素 / Inline Elements

      p
        |印子陽放沒王候過然！
        a(href='#') a element
        |&nbsp;是不是一一現遊策&nbsp;
        sup sup
        |&nbsp;那子成展不天&nbsp;
        abbr(title='Title text') abbr element with title&nbsp;
        |&nbsp;政物聯兒腦求從
        mark mark element
        |&nbsp;速不又紅南見會法取絕&nbsp;
        del del element
        |&nbsp;不建有成險
        sub sub
        |&nbsp;已在家&nbsp;
        u u element
        |&nbsp;明只各達學起&nbsp;
        strong strong element
        |&nbsp;時式房事建後從，
        b b element
        |&nbsp;區運家……你且區密作報不了草&nbsp;
        cite cite element
        |&nbsp;許媽灣北；
        code code element
        |&nbsp;開大設春種家題須來八等便治中字國感非，
        em em element
        |&nbsp;美生生根，電色濟：
        i i element
        |&nbsp;朋和希身年持論物道高有道道來花病是班高化。

      hr#embed
      h1 嵌入媒介 / Embedded Content

      h3 1. audio
      audio(controls='controls')
      h3 2. img
      img(src='http://lorempixel.com/100/100', alt='')
      a(href='#')
        img(src='http://lorempixel.com/100/100', alt='')
      h3 3. svg
      svg(width='100px', height='100px')
        circle(cx='100', cy='100', r='100', fill='#ff0000')
      h3 4. video
      video(controls='controls')
      video

      hr#group
      h1 区块 / Grouping content
      p
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m.

      h3 1. pre
      pre
        |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et me.

      h3 2. blockquote
      blockquote
        p
          | Some sort of famous witty quote marked up with a > blockquote
          | 和 a child <p
          | element.
        blockquote
          | Even better philosophical quote marked up with just a > blockquote
          | element.

      h3 3. ordered list
      ol
        li list item 1
        li
          | list item 1
          ol
            li list item 2
            li
              | list item 2
              ol
                li list item 3
                li list item 3
            li list item 2
            li list item 2
        li list item 1
        li list item 1

      h3 4. unordered list
      ul
        li list item 1
        li
          | list item 1
          ul
            li list item 2
            li
              | list item 2
              ul
                li list item 3
                li list item 3
            li list item 2
            li list item 2
        li list item 1
        li list item 1

      h3 5. Define list
      dl
        dt Description name
        dd Description value

      h3 6. figure
      figure
        img(src='http://lorempixel.com/400/200', alt='')
        figcaption Figcaption content

      hr#table
      h1 表格 / Tabular data
      table
        caption Jimi Hendrix - albums
        thead
          tr
            th Album
            th Year
            th Price
        tfoot
          tr
            th Album
            th Year
            th Price
        tbody
          tr
            td Are You Experienced
            td 1967
            td $10.00
          tr
            td Axis: Bold as Love
            td 1967
            td $12.00
          tr
            td Electric Ladyl和
            td 1968
            td $10.00
          tr
            td B和 of Gypsys
            td 1970
            td $12.00

      hr#form
      h1 表单 / Forms
      form
        fieldset
          legend
            | legend of form
          p
            label
              input(type='file')
          p
            label
              input(type='radio', name='rad')
              |&nbsp;Radio input
          p
            label
              input(type='checkbox')
              |&nbsp;Checkbox input
          p
            label
              select
                option Option 01
                option Option 02
          p
            button button
            |&nbsp;
            input(type="button", value="input['type=button']")

      hr#util
      h1 小工具 / Utilities

      h3 1. 清理浮动

      pre .clearfix

      h3 2. 强制换行

      pre .textwrap /* 在 table 中使用 .textwrap-table */

      h3 3. 左右浮动

      pre .pull-right / .pull-left

      h4 4. 脱离 .typo 单独使用

      pre .typo-TAGNAME /* 比较 .typo-small */









