extends layout

block content
  .container
    .grid.grid-5
      ul#nav.list.affix-top(data-spy="affix", data-offset-top="132")
        li.list-item
          a(href="#list") 1. List
        li.list-item
          a(href="#alert") 2. Alert
        li.list-item
          a(href="#modal") 3. Modal
        li.list-item
          a(href="#tab") 4. Tab
        li.list-item
          a(href="#head") 5. Head / Search
        li.list-item
          a(href="#button") 6. Button
        li.list-item
          a(href="#form") 7. Form
        li.list-item
          a(href="#media") 8. media
        li.list-item
          a(href="#pager") 9. pager
        li.list-item
          a(href="#box") 10. box
        li.list-item
          a(href="#note") 11. note

    .grid.grid-15.last.ui

      include ui/list
      include ui/alert
      include ui/modal
      include ui/tab
      include ui/head
      include ui/button
      include ui/form
      include ui/media
      include ui/pager
      include ui/box
      include ui/note