extends layout

block content
  .container
    .grid.grid-5
      ul#nav.list.affix-top(data-spy="affix", data-offset-top="132")
        li.list-item
          a(href="#list") List
        li.list-item
          a(href="#tab") Tab
        li.list-item
          a(href="#head") Head / Search
        li.list-item
          a(href="#Alert") Alert
        li.list-item
          a(href="#embed") Modal

    .grid.grid-15.last.ui

      include ui/list
      include ui/tab
      include ui/head
      include ui/alert
      include ui/modal